*{
  /* font-size: 65%; */
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.0rem;
  
scroll-behavior: smooth;
}
body {  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url(./assets/img/fondo.jpg);
  background-size: 100vw;
}
#addUser{
  position: relative;
  left: 23vw;
  margin-top: 15px;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1.1rem;
}

#addUser:hover{
  cursor: pointer;
}

.addUser--red{
  background-color: red;

}

.addUser--green{
  background-color: rgb(0, 117, 16);

}


.userForm{
  background-color: white; 
  width: 50%;
  margin: 30px auto;
  padding: 15px 40px;
  text-align: left;
  border-radius: 20px; 
  
}
.userForm input{
  border: none;
  border-radius: 15px;
  background-color: rgb(236, 236, 236);
  padding: 10px 20px;
  margin: 10px;
  width: 42vw;

}
#first_name, #last_name{
  width: 19vw;

}
.userForm i{
  font-size: 1.58rem;
}

.userForm button{
  background-color: rgb(64, 192, 149);

  color: white;
  border: none;
  border-radius: 20px;
  margin: 15px;
  padding: 15px 150px;
}
.userForm button:hover{
  cursor: pointer;
}

.userForm--button{
  text-align: center;
}

.UsersList{
  /* background-color: white; */
}
.UserCard{
  background-color: white;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: 30px auto;
  padding: 15px 40px;
  text-align: left;
  border-radius: 20px;

}
.UserCard--buttons{
  margin-top: 50px;
}
.UserCard--buttons button{
  margin: 0px 10px;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
}
.UserCard--buttons button:hover{
  cursor: pointer;
}  
#trash{
  color: red;
}
#pencil{
  color: rgb(114, 114, 114);
}

@media only screen and (max-width:800px) {
  *{
    font-size: 96%;
  }
  #addUser{
    
    padding: 15px 20px;
    font-size: 1.0rem;
  }
  .userForm button{    
    margin: 15px;
    padding: 15px 50px;
  }
  .UserCard--buttons{
    margin-top: 30px;
  }
  .UserCard--buttons button{
    margin: 0px 0px;
    font-size: 1.1rem;
  }
  .UserCard{
    width: 65%;
    margin: 30px auto;
    padding: 10px 30px;
    text-align: left;
    border-radius: 20px;  
  }
  .userForm{
    width: 60%;
    margin: 30px auto;
    padding: 15px 40px;
    text-align: left;
    border-radius: 20px; 
    
  }
  .userForm input{
    padding: 10px 20px;
    margin: 10px;
    width: 30vw;  
  }
  #first_name, #last_name{
    width: 30vw;  
  }
  #last_name{
    margin-left: 30px;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
